{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://files.krve.io/f/eyespot.css'>
<link rel='stylesheet prefetch' href='https://cdn.cloudcache.dk/materialdesignicons/1.6.50/css/materialdesignicons.min.css'>
<section class="services-section spad" style="height: 100%;">
  <div class="row">
      <div class="col-lg-12">
          <div class="section-title">
              <span>Weather-wear</span>
              <h2>마이페이지</h2>
          </div>
      </div>
  </div>
<div class="container">
  <div class="row">
    <!--카테고리 목록-->
    <div class="col-lg-3">
      <ul class="list-group help-group">
        <div class="faq-list list-group nav nav-tabs">
          <!-- 7개의 탭 -->
          <a href="{% url 'myPage:mypage' %}" class="list-group-item active">
            마이페이지
          </a>
          <a href="{% url 'myPage:my_clothes' %}" class="list-group-item" >
            <i class="mdi mdi-star"></i> 자기 착장 페이지
          </a>
          <a href="{% url 'myPage:writing_list' %}" class="list-group-item">
            <i class="mdi mdi-star"></i> 커뮤니티에 작성한 글
          </a>
          <a href="{% url 'myPage:profile' %}" class="list-group-item">
            <i class="mdi mdi-account"></i> 개인정보
          </a>
        </div>
      </ul>
    </div>
    <div class="col-lg-8">
        <!-- Page content-->
            <p>마이페이지의 경우 자신의 착장 페이지나 커뮤니티에 작성한 글 및 개인정보를 확인할 수 있는 페이지입니다. </p>
          
            <p>
                자신의 착장 페이지의 경우 날씨와 기온에 따라 자신이 착용한 복장을 기록할 수 있는 공간으로 자신이 입었던 옷의 데이터를 저장할 수 있는
                공간입니다.
            </p>
            <p>
               커뮤니티에 작성한 글 페이지의 경우 자신이 커뮤니티에 작성한 글들을 확인할 수 있으며 날씨별로 필터가 가능합니다.
            </p>
            <p>
              개인정보 페이지의 경우 자신의 정보를 확인하고 수정할 수 있는 공간입니다.
            </p>
    </div>
  </div>
</div>
</section>
<style type="text/css">
    a:hover, a:focus{
      text-decoration: none;
    }
    .list-group.help-group {
      margin-bottom: 20px;
      padding-left: 0;
      margin: 0;
    }
    .list-group.help-group .faq-list {
      display: block;
      top: auto;
      margin: 0 0 32px;
      border-radius: 2px;
      border: 1px solid #ddd;
      box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    }
    .list-group.help-group .faq-list .list-group-item {
      position: relative;
      display: block;
      margin: 0;
      padding: 13px 16px;
      background-color: #fff;
      border: 0;
      border-bottom: 1px solid #ddd;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      color: #616161;
      transition: background-color .2s;
    }
    .list-group.help-group .faq-list .list-group-item i.mdi {
      margin-right: 5px;
      font-size: 18px;
      position: relative;
      top: 2px;
    }
    .list-group.help-group .faq-list .list-group-item:hover {
      background-color: #f6f6f6;
    }
    .list-group.help-group .faq-list .list-group-item.active {
      background-color: #f6f6f6;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.87);
    }
    .list-group.help-group .faq-list .list-group-item:last-of-type {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom: 0;
    }
    
    .tab-content.panels-faq {
      padding: 0;
      border: 0;
    }
    
    .panel.panel-help {
      box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
      padding-bottom: 0;
      border-radius: 2px;
      overflow: hidden;
      background-color: #fff;
      margin: 0 0 16px;
    }
    .panel.panel-help a[href^="#"],
    .panel.panel-help a[href^="#"]:hover,
    .panel.panel-help a[href^="#"]:focus {
      outline: none;
      cursor: pointer;
      text-decoration: none;
    }
    .panel.panel-help .panel-heading {
      background-color: #f6f6f6;
      padding: 0 16px;
      line-height: 48px;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
      color: rgba(0, 0, 0, 0.87);
    }
    .panel.panel-help .panel-heading h2 {
      margin: 0;
      padding: 14px 0 14px;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0;
      text-transform: none;
    }
    .panel.panel-help .panel-body {
      background-color: #fff;
      border-top: 1px solid #ddd;
      border-radius: 2px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      margin-top: 0;
    }
    .panel.panel-help .panel-body p {
      margin: 0 0 16px;
    }
    .panel.panel-help .panel-body p:last-of-type {
      margin: 0;
    }
    </style>
{%endblock%}