{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://files.krve.io/f/eyespot.css'>
<link rel='stylesheet prefetch' href='https://cdn.cloudcache.dk/materialdesignicons/1.6.50/css/materialdesignicons.min.css'>
<section class="services-section spad" style="height: 100%;">
  <div class="row">
      <div class="col-lg-12">
          <div class="section-title">
              <img src="{% static 'images/write.png' %}">
              <h2>자기 착장 페이지 작성</h2>
          </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
    <!--카테고리 목록-->
    <div class="col-lg-3">
      <ul class="list-group help-group">
        <div class="faq-list list-group nav nav-tabs">
          <!-- 7개의 탭 -->
          <a href="{% url 'myPage:mypage' %}" class="list-group-item">
            마이페이지
          </a>
          <a href="{% url 'myPage:my_clothes' %}" class="list-group-item active" >
            <i class="mdi mdi-star"></i> 자기 착장 페이지
          </a>
          <a href="{% url 'myPage:writing_list' %}" class="list-group-item">
            <i class="mdi mdi-star"></i> 커뮤니티에 작성한 글
          </a>
          <a href="{% url 'myPage:profile' %}" class="list-group-item">
            <i class="mdi mdi-account"></i> 개인정보
          </a>
        </div>
      </ul>
    </div>
    <div class="col-lg-8">
        <!-- Page content-->
        <div class=" write service-item container-fluid">
          <table>
            <tbody>
              <form action="{% url 'myPage:create_clothes' %}" method="post" enctype="multipart/form-data">
                  {%csrf_token%}
              <tr>
                <th scope="row"><p>제목</p></th>
                <td><input type="text" name="title"></td>
              </tr>
              <tr>
                <th scope="row"><p>날짜</p></th>
                <td><input type="date" name="post_date" required></td>
              </tr>
              <tr>
                  <th scope="row"><p>카테고리</p></th>
                  <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="category_radio" id="inlineRadio1" value="sunny" required>
                        <label class="form-check-label" for="inlineRadio1">맑음</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="category_radio" id="inlineRadio2" value="cloud">
                        <label class="form-check-label" for="inlineRadio2">흐림</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="category_radio" id="inlineRadio3" value="rain">
                        <label class="form-check-label" for="inlineRadio3">비</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="category_radio" id="inlineRadio4" value="snow">
                        <label class="form-check-label" for="inlineRadio4">눈</label>
                      </div>
                  </td>
              </tr>
             <tr>
                  <th scope="row"><p>온도</p></th>
                  <td><input type="number" min="-20" max="50" name="temperature" required></td>
              </tr>
              <tr>
                  <th scope="row"><p>사진</p></th>
                  <td><input class="picture" type='file' name='thumbnail' required></td>
              </tr>
              <tr>
                <th scope="row"><p>메모</p></th>
                <td><textarea type='text' name='memo' id='' cols='30' rows='5' placeholder="간략한 메모 입력 가능 :)"></textarea></td>
              </tr>
              <tr>
                <td class = "update" colspan="2" style="text-align: center;">
                  <button type="submit">제출</button>
                </td>
              </tr>
              </form>
              </tbody>
        </table>
            </div>
        </div>
    </div>
  </div>
</section>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<style type="text/css">
    a:hover, a:focus{
      text-decoration: none;
    }
    .list-group.help-group {
      margin-bottom: 20px;
      padding-left: 0;
      margin: 0;
    }
    .list-group.help-group .faq-list {
      display: block;
      top: auto;
      margin: 0 0 32px;
      border-radius: 2px;
      border: 1px solid #ddd;
      box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    }
    .list-group.help-group .faq-list .list-group-item {
      position: relative;
      display: block;
      margin: 0;
      padding: 13px 16px;
      background-color: #fff;
      border: 0;
      border-bottom: 1px solid #ddd;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      color: #616161;
      transition: background-color .2s;
    }
    .list-group.help-group .faq-list .list-group-item i.mdi {
      margin-right: 5px;
      font-size: 18px;
      position: relative;
      top: 2px;
    }
    .list-group.help-group .faq-list .list-group-item:hover {
      background-color: #f6f6f6;
    }
    .list-group.help-group .faq-list .list-group-item.active {
      background-color: #f6f6f6;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.87);
    }
    .list-group.help-group .faq-list .list-group-item:last-of-type {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom: 0;
    }
    
    .tab-content.panels-faq {
      padding: 0;
      border: 0;
    }
    
    .panel.panel-help {
      box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
      padding-bottom: 0;
      border-radius: 2px;
      overflow: hidden;
      background-color: #fff;
      margin: 0 0 16px;
    }
    .panel.panel-help a[href^="#"],
    .panel.panel-help a[href^="#"]:hover,
    .panel.panel-help a[href^="#"]:focus {
      outline: none;
      cursor: pointer;
      text-decoration: none;
    }
    .panel.panel-help .panel-heading {
      background-color: #f6f6f6;
      padding: 0 16px;
      line-height: 48px;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
      color: rgba(0, 0, 0, 0.87);
    }
    .panel.panel-help .panel-heading h2 {
      margin: 0;
      padding: 14px 0 14px;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0;
      text-transform: none;
    }
    .panel.panel-help .panel-body {
      background-color: #fff;
      border-top: 1px solid #ddd;
      border-radius: 2px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      margin-top: 0;
    }
    .panel.panel-help .panel-body p {
      margin: 0 0 16px;
    }
    .panel.panel-help .panel-body p:last-of-type {
      margin: 0;
    }
   
.thumbanil{
  max-width: 500px;
  height:auto;
}
table{
    margin-left: auto;
    margin-right: auto;    
    width: 80%;
}
table td{
    padding-bottom: 20px;
    text-align: left;
}
.write{
    height: fit-content;
    background: #222222;
}
.subject{
    width: 20%;
}
button{
    background: #e32879;
    color:#fff;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 40px;
}
th{
  padding: 10px 10px 15px 10px;
}
.form-check{
  width: 20%;
}
td textarea {
  width: 100%;
}
label{
  color:#fff;
}
.picture{
  color:#fff;
}
p{
  color: #fff;
}
</style>
{%endblock%}