{% load static %}

<!-- Navigation-->
<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="logo">
                    <a href="{% url 'mainPage:mainpage' %}">
                        <img src="{% static 'images/logo.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="main-menu mobile-menu">
                    <ul>
                        <li><a href="{% url 'mainPage:today' %}">오늘의 옷 추천</a></li>
                        <li><a href="#">일주일 옷 추천</a></li>
                        <li><a href="{% url 'community:show' %}">community</a></li>
                        {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                        <li><a href="{% url 'account_logout' %}">로그아웃</a></li>
                        {% else %}
                        <li><a href="{% url 'myPage:mypage' %}">마이페이지</a></li>
                        <li><a href="{% url 'account_logout' %}">로그아웃</a></li>
                        {% endif %}
                        {% else %}
                        <li><a href="{% url 'account_login' %}">로그인</a></li>
                        <li><a href="{% url 'account_signup' %}">회원가입</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>