{% load static %}
<!DOCTYPE html>
<head>
  <link href="{% static 'css/login.css' %}?a" rel="stylesheet" />
</head>
<body>
  <section class="login-form">
    <div class="box">
    <h1><a href="{% url 'mainPage:mainpage' %}">Weather-wear</a></h1>
    <form method="POST" action="{% url 'account_login' %}">
      {% csrf_token %} 
      <div class="int-area">
        <input type="text" name="login" autocomplete="username" required="" id="id_login">
        <label for="id_login">아이디</label>
      </div>  
      <div class="int-area">
        <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
        <label for="id_password">비밀번호</label>
      </div>  
      <div class="btn-area">
        <input  type="submit" value="로그인">
      </div>
    </form>
    <div class = "caption">
      회원이 아니신가요? <a href = "{% url 'account_signup' %}">회원가입</a>
    </div>
    </div>
  </section>
</body>