{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="hs-text">
                    <span>날씨에 알맞은 옷 추천 서비스</span>
                    <h2>Weather-wear</h2>
                    <p>실시간 날씨 정보를 파악하여 날씨와 어울리는 옷차림을 추천해 주는 사이트</p>
                    <a href="{% url 'mainPage:today' %}" class="primary-btn">오늘의 추천 옷 보러가기</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}