{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="services-section spad" style="height: 100%;">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <span>Weather-wear</span>
                <h2>오늘의 옷차림 추천</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        <div class="col-lg-9">
            <div class="as-pic">
                <table style="width: 50%; margin-left: auto; margin-right: auto;">
                    <!--상의 사진 들어가는  곳-->
                    <tr>
                        <td><div class="image" style="background: #222222;"><img src="{% static 'images/상의1.jpg' %}" style="width: 50px; height:200px; object-fit: fill;" alt="사진"></td>
                        <td><div class="image" style="background: #222222;"><img src="{% static 'images/상의1.jpg' %}" style="width: 50px; height:200px; object-fit: fill;" alt="사진"></td>
                            <td><div class="image" style="background: #222222;"><img src="{% static 'images/상의1.jpg' %}" style="width: 50px; height:200px; object-fit: fill;" alt="사진"></td>    
                    </tr>
                    <!--하의 사진 들어가는 곳-->
                    <tr>
                        <td>
                        <div class="image" style="background: #222222;"><img src="{% static 'images/하의1.jpg' %}" style="width: 50px; height:200px; object-fit: fill;" alt="사진"></td>
                    </tr>
                    <!--악세사리 사진들어가는 곳-->
                    <tr>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="as-text ap-text">
                <p class="f-para">
                    <!--옷 설명 들어가는  곳-->
                </p>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock %}