{% extends "base.html" %}
{% block content %}
<header class="masthead" style="background-image: url('#')"> <!-- 배경이미지 날씨 넣기 -->
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h3>커뮤니티</h3>
                </div>
            </div>
        </div>
    </div>
</header>
<style>
    button{
        background-color:white;
        border-radius:5px;
        font-size: medium;
        font-weight: bold;
        margin-bottom:10px;
    }
    button:hover{
        background-color: rgb(187, 223, 236);
    }
</style>
<div style="margin-left: 80px;">
    <h1>{{community.title}}</h1>
    날씨 : {{community.weather}}<br>
    성별 : {{community.gender}}<br>
    
    조회수 : {{ community.view_count }}<br>
    {% if community.writer %}
        작성자 : {{ community.writer }}
    {% else %}
        작성자 : 알 수 없음
    {% endif %}
    <br>
    작성일시 : {{community.pub_date}}<br>
    <a href ="{% url 'community:community_like' community.id %}?redirect_to=detail">
        {% if user in community.like_user_set.all %}
            <i class="fas fa-heart"></i>
        {% else %}
            <i class="far fa-heart"></i>
        {% endif %}
    </a>
    <hr>
    {% if community.image %}
        <center><p><img src="{{ community.image.url }}" alt="사진" width="300px"></p></center>
    {% endif %}
    <p>{{community.body}}</p>
    <center>
        {% if user == community.writer %}
        <button><a href="{% url 'community:edit' community.id %}">수정하기</a></button>
        <button><a href="{% url 'community:delete' community.id %}">삭제하기</a></button>
        {% endif %}
        <button><a href="{% url 'community:show' %}">목록</a></button>
    </center>

    <div>
        <form action="{% url 'community:create_comment' community.id %}" method = "POST">
            {% csrf_token %}
            <textarea name="content" placeholder = "댓글 내용 입력" style="width:1100px"></textarea>
            <button type="submit" value="확인">댓글</button>
        </form>
    </div>
    <div>
        {% for comment in comments %}
        <div>
            작성자 : {{comment.writer}}   <h5 style="font-size: small;">{{comment.created_at}}</h5>
            {{comment.content}}<br><br>
            {% if user == comment.writer %}
                <button><a href="{% url 'community:update_comment' comment.id %}">댓글 수정</a></button>
			    <button><a href="{% url 'community:delete_comment' comment.id %}">댓글 삭제</a></button>
			{% endif %}<hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}