{% extends "base.html" %}
{% block content %}
<header class="masthead" style="background-image: url('#')"> <!-- 배경이미지 날씨 넣기 -->
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h5>오늘은 뭐 입을까? 커뮤니티</h5>
                    <span class="subheading">날씨에 맞는 옷을 추천해주는 사이트</span>
                </div>
            </div>
        </div>
    </div>
</header>

<form action="{% url 'community:update' community.id %}" method="post" enctype="multipart/form-data">
	{%csrf_token%}
	<p>제목 : <input type="text" name="title" value="{{community.title}}"></p>
    <p>사진 : <input type="file" name = "image"></p>
	<p>내용 : <textarea type="text" name="body" id="" cols="30" rows="10">{{community.body}}</textarea></p>
	<button type="submit">제출</button>
</form>
{% endblock %}