{% extends "base.html" %}
{% block content %}
<header class="masthead" style="background-image: url('/static/images/cloud.jpg')"> 
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h3>커뮤니티</h3>
                </div>
            </div>
        </div>
    </div>
</header>
<style>
    button{
        background-color:white;
        border-radius:5px;
        font-size: medium;
        font-weight: bold;
    }
    button:hover{
        background-color: rgb(187, 223, 236);
    }
</style>
{% if user.is_authenticated %} 
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="thead-blue">
                <th>성별</th>
                <th>날씨</th>
                <th>작성자</th>
                <th>제목</th>
                <th>작성일시</th>
                <th>조회수</th>
                <th>좋아요</th>
            </tr>
        </thead>
        <tbody>
            {% for community in communities %}
            <tr>
                <td>{{community.gender}}</td>
                <td>{{community.weather}}</td>
                <td>{{community.writer}}</td>
                <td>
                    <a href="{% url 'community:detail' community.id %}">
                        {{community.title}}
                    </a>
                </td>
                <td>{{community.pub_date}}</td>
                <td style="text-align: center;">{{community.view_count}}</td>
                <td style="text-align: center;"><a href ="{% url 'community:community_like' community.id %}">
                    {% if user in community.like_user_set.all %}
                        <i class="fas fa-heart"></i>
                    {% else %}
                        <i class="far fa-heart"></i>
                    {% endif %}
                </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button><a href="{% url 'community:new' %}">글쓰기</a></button>
</div>
{% else %}
    <center style="margin-bottom: 100px;">
    <h3>로그인 후 이용이 가능합니다.</h3>
    <button><a href="{% url 'account_login' %}" >로그인</a></button>
    <button><a href="{% url 'account_signup' %}">회원가입</a></button>
    </center>
{% endif %}

{% endblock %}