@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {margin: 0; padding: 0; box-sizing:border-box;}
body {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222222;
}
body::before{
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom:0; left:0;
}
.login-form{
    position: relative; z-index: 2;
}
.login-form h1{
    font-size: 32px;
    text-align: center;
    margin-bottom: 60px;
}
.login-form h1 a{
    text-decoration: none;
    color: #fff;
}
.int-area{
    width: 400px;
    position: relative;
    margin-top: 20px;
}

.int-area:first-child {margin-top: 0;}
.int-area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px; color: #fff;
    outline: none;
}
.int-area label{
    position: absolute; left: 10px; top: 15px;
    font-size: 18px; color:#fff;
    transition: top .5s ease;
}
.int-area input:focus + label,
.int-area input:valid + label {
    top: -2px;
    font-size: 13px; color: #e32879;;
}
.btn-area {
    margin-top: 30px;
}
.btn-area input {
    width: 100%; height: 50px;
    background: #e32879;
    color:#fff;
    font-size: 20px;
    border:none;
    border-radius: 10px;
}
.caption{
    margin-top: 20px;
    text-align: center;
    color:#fff;
}
.caption a {
    text-decoration: none;
}
a:link{
    color:#e32879;
}
a:visited{
    color:#e32879;
}
a:hover{
    text-decoration: underline;
}